// Color variables
$Galactic-Blue: #755CDE;
$Summer-Yellow: #F6A560;
$Pink: #F39E9E;
$Light-Red: #EB7565;
$Cyan: #61C4B7;
$Dark-Purple: #552049;
$Black: #030303;
$Medium-Brown: #7A746E;
$Light-Cream: #FFF7F0;

$Basic-font: "Plus Jakarta Sans", sans-serif;

